<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crea_si.eviacam.service"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".EViacamService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" 
            android:settingsActivity="com.crea_si.eviacam.service.SettingsActivity" 
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <!-- Enable Viacam preferences -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/eviacam_preferences_title"
            android:launchMode="singleTop"
            android:taskAffinity="com.crea_si.eviacam.service.SettingsAffinity"
            android:theme="@android:style/Theme.DeviceDefault"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.accessibilityservice.SERVICE_SETTINGS" />
            </intent-filter>
        </activity>
        
        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity" 
            android:exported="false"
            android:noHistory="false"
            android:excludeFromRecents="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        
        <!-- Launcher activity -->
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
        </activity>

    </application>

</manifest>
