<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crea_si.eviacam" >

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Google Analytics required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application
        android:name=".EViacamApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Google Analytics stuff -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Accessibility service -->
        <service
            android:name=".service.TheAccessibilityService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" 
            android:settingsActivity="com.crea_si.eviacam.service.MousePreferencesActivity" 
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <!-- Enable Viacam main (mouse) preferences -->
        <activity
            android:name=".service.MousePreferencesActivity"
            android:label="@string/eviacam_preferences_title"
            android:launchMode="singleTop"
            android:taskAffinity="com.crea_si.eviacam.service.SettingsAffinity"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.accessibilityservice.SERVICE_SETTINGS" />
            </intent-filter>
        </activity>
        
        <!-- Splash screen -->
        <activity
            android:name=".service.SplashActivity"
            android:exported="false"
            android:noHistory="false"
            android:excludeFromRecents="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" >
        </activity>
        
        <!-- Launcher activity -->
        <activity
            android:name=".service.LauncherActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:excludeFromRecents="true" >
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
        </activity>

        <!-- Wizard activity -->
        <activity
            android:name="com.crea_si.eviacam.wizard.WizardActivity"
            android:label="@string/wizard_icon_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.crea_si.eviacam.wizard.WizardActivity"
            android:theme="@android:style/Theme.DeviceDefault" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Slave mode service -->
        <service
            android:name=".service.SlaveModeService"
            android:label="Slave mode service"
            android:exported="true">
            <intent-filter>
                <action android:name="com.crea_si.eviacam.service.SlaveModeService" />
            </intent-filter>
        </service>
        
        <!-- Slave mode preferences -->
        <activity
            android:name=".service.SlaveModePreferencesActivity"
            android:label="@string/eviacam_slave_mode_preferences_title"
            android:launchMode="singleTop"
            android:taskAffinity="com.crea_si.eviacam.service.SettingsAffinity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       
        <!-- Gamepad preferences -->
        <activity
            android:name=".service.GamepadPreferencesActivity"
            android:label="@string/gamepad_preferences"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.crea_si.eviacam.service.SettingsAffinity" >
        </activity>

        <!-- ACRA activity -->
        <activity android:name="org.acra.CrashReportDialog"
        android:theme="@android:style/Theme.Dialog"
        android:process=":error_report"
        android:launchMode="singleInstance"
        android:excludeFromRecents="true"
        android:finishOnTaskLaunch="true" />

        <!-- TechInfo activity -->
        <activity android:name=".service.TechInfoActivity"
                  android:exported="false" />

        <!--
         * Input method (eViacam keyboard)
        -->

        <!-- Input method service -->
        <service
            android:name="com.crea_si.softkeyboard.SoftKeyboard"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- IME Preferences activity -->
        <activity
            android:name="com.crea_si.softkeyboard.ImePreferences"
            android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- IME remote service -->
        <service
            android:name="com.crea_si.softkeyboard.RemoteBinderService"
            android:label="IME messenger service"
            android:exported="true">
            <intent-filter>
                <action android:name="com.crea_si.softkeyboard.RemoteBinderService" />
            </intent-filter>
        </service>

    </application>

</manifest>
